<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="{{ routes.root_url }}" class="breadcrumb__link">{{ 'general.breadcrumb.home' | t }}</a>
    </li>

    {%- case template.name -%}
      {%- when 'product' -%}
        {%- if collection -%}
          <li class="breadcrumb__separator">/</li>
          <li class="breadcrumb__item">
            <a href="{{ collection.url }}" class="breadcrumb__link">{{ collection.title }}</a>
          </li>
        {%- endif -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ product.title | escape }}
        </li>

      {%- when 'collection' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ collection.title | escape }}
        </li>

      {%- when 'blog' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ blog.title | escape }}
        </li>

      {%- when 'article' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item">
          <a href="{{ blog.url }}" class="breadcrumb__link">{{ blog.title }}</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ article.title | escape }}
        </li>

      {%- when 'page' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ page.title | escape }}
        </li>

      {%- when 'search' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ 'general.search.title' | t }}
        </li>

      {%- when 'cart' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ 'cart.title' | t }}
        </li>

      {%- when 'list-collections' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ 'collections.title' | t }}
        </li>

      {%- when '404' -%}
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current">
          {{ 'general.404.title' | t }}
        </li>
    {%- endcase -%}
  </ol>
</nav>
