<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% render 'css-variables' %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'breadcrumb.css' | asset_url | stylesheet_tag }}
    {{ 'hero-banner.css' | asset_url | stylesheet_tag }}
    {{ 'product-recommendations.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name }}">
    {% sections 'header-group' %}

    {% unless template.name == 'index' %}
      {% render 'breadcrumb' %}
    {% endunless %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
